body{
    border: 1px solid yellow;
    margin: 10px;
    background-color: whitesmoke;
    padding: 20px 10px;
    font-family: serif;
    background: url("fruitsimage.jpg") no-repeat center top 30%;
    background-size: cover;
    height: 100%;
    font-size: large;
}

.nutrition{
    display: inline-flexbox;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    
}

.fname,.gram{
    padding: 5px 0px;
}

li,ul{
    margin-left: 30px;
    padding: 5px 0px;
}